<div class="container">
  <div class="row">
    <div class="d-flex col pt-3 pb-3">
      <h1>TASKS</h1>
    </div>
  </div>
  <div class="row">
    <div class="d-flex col justify-content-between pb-3">
      {{input value=priority size="5"}} {{input value=task size="33"}}
      {{#bs-button type="outline-primary" onClick=(action "addTask" this)}}ADD{{/bs-button}}
    </div>
  </div>

  <div class="row">
    <div class="d-felx col pb-3">
      <ul class="list-group">
        {{! Loop over the model data array, using task as the singular }}
        {{#each model as |tasks|}}
          <li class="list-group-item justify-content-between d-flex">
            <span>{{tasks.priority}} | {{tasks.task}}</span>
            {{#bs-button class="btn-sm" type="danger" onClick=(action "removeTask" tasks)}}DELETE{{/bs-button}}
          </li>
        {{/each}}

      </ul>
    </div>
  </div>
</div>

{{outlet}}